body {
    display: flex;
    justify-content: center;
    
    background-image: url("/Fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.Start{
    justify-content: center;
    align-items: flex-end;
    
    
}
.Container{
    width: 250px;
    height: 250px;

}

